# .pylintrc
# camera.py
# Encodings time for CNN.png
# Encodings time for HOG.png
# encodings4.pickle
# encodings-cnn.pickle
# encodings-hog.pickle
# encodings-javier.pickle
# encodings-random.pickle
# facerec_from_webcam_faster.py
# faceRecon.1.py
# faceSec1.py
# faceSec2.py
# Facial-Recognition2.png
# Facial-Recognition3.png
# Facial-Recognition4.png
# Facial-Recognition5.png
# foU_ycnrH.zip
# index.html
# javier-soler.jpg
# pi_face_recognition.py
# recognize_faces_video.py
.git/
.vscode/
__pycache__/
Temp/
images/unknown_people/
pi-face-recognition/
Encodings time for *.png
haarcascade_frontalface_default.xml
