.git/
.vscode/
__pycache__/

# Personal files
Temp/
Testing pictures/
pi-face-recognition/
haarcascade_frontalface_default.xml
OAuth2.txt

## Files ignored for security
# Image folders
images/known_people/*/*
!images/known_people/A00000003_Test_Tester/.gitkeep
images/unknown_people/*
!images/unknown_people/.gitkeep

# Cerfiticates for HTTPS
certificates/*
!certificates/.gitkeep

# Authentication files
google_auth.json
access.json

# Access logging file
accesslog.txt
