.git/
.vscode/
__pycache__/
Temp/
images/unknown_people/
Testing pictures/
pi-face-recognition/
certificates/*
!certificates/.gitkeep
OAuth2.txt
google_auth.json
access.json
haarcascade_frontalface_default.xml
accesslog.txt
