body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#heading
{
    clear: both;
}

/* .image
{
    float: left;
} */

/* #element1.logo
{
    height: 5%;
    width: 5%;
    vertical-align:middle;
    max-width: 1%;
    max-height: 1%;
} */

/* .heading
{
    float: right;
} */

#videoStreaming
{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    align-content: left;
    width: 25%;
}

#element2.streaming
{
    float: left;
    text-align: center;
}