<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- <link href="../static/style.css" rel="stylesheet" type="text/css"> -->
    <title>FaceSec - The Facial Recognition Secure Access</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/socket-2.0.3.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
    <div id="heading">
        <!-- <img style="margin: 0px 10px 15px 0px; 
            height: 5%; width: 5%; vertical-align:middle;" 
            src="{{ url_for('static', filename='img/Facial-Recognition.png') }}"
            alt="Image" class="logo"> -->
        <img id="logo"
            src="{{ url_for('static', filename='img/Facial-Recognition.png') }}"
            alt="Image" class="logo">
        {% if userType == "admin" %}
        <span>FaceSec's Administrator</span>
        {% else %}
        <span>Welcome to FaceSec</span>
        {% endif %}
    </div>
    <div id="adminPanel">
        <h3>Live Video Streaming</h3>
        <div>
            <img id="videofeed" src="{{ url_for('video_feed2') }}" alt="Video streaming should be here">
            {% if userType == "admin" %}
            <div id="actions">
                <span>ADMINISTRATOR ACTIONS:</span>
                <form method="post" action="/admin/">
                    <button class="btn" type="submit" name="forceUpdate">Force encodings update</button><br /><br />
                    <button class="btn" type="submit" name="startProcess">Start encodings process update</button><br /><br />
                    <button class="btn" type="submit" name="stopProcess">Stop encodings process update</button><br /><br />
                    <button class="btn" type="submit" name="quit">Quit</button>
                </form>
            </div>
        {% endif %}
        </div>
    </div>
    <span id="welcome"></span>
</body>

</html>